<div class="search-div">
    <mat-form-field class="search-form-field">
      <input matInput [(ngModel)]="searchKey" placeholder="Filter" autocomplete="off" (keyup)="applyFilter()">
      <Button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </Button>
    </mat-form-field>
  </div>

<div>
    <mat-table [dataSource]="hitsDataSource" matSort>
        <ng-container matColumnDef="title">
            <mat-header-cell class="mat-cell-headers" *matHeaderCellDef mat-sort-header>
                Title </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="url">
            <mat-header-cell class="mat-cell-headers" *matHeaderCellDef mat-sort-header>
                URl </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.url}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <mat-header-cell class="mat-cell-headers" *matHeaderCellDef mat-sort-header>
                Created At </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="author">
            <mat-header-cell class="mat-cell-headers" *matHeaderCellDef mat-sort-header>
                Author </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row (click)="showRawJson()" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>